body {
    margin: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #2e354f;
}

h1,
h2,
strong {
    font-weight: 900;
}

/* Typography */

h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 24px;
    color: #ef5839;
}

a {
    color: #ef5839;
}

a:hover,
a:focus {
    color: #d4b44c;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}

.btn-accent {
    background: #ef5839;
    color: #fff;
}

.btn-accent:hover {
    color: #2e354f;
    background: #d4b44c;
}

.btn-white {
    background: #fff;
    color: #2e354f;
}

.btn-white:hover {
    color: #2e354f;
    background: #999;
}

/* Layout */

header {
    background: #2e354f;
    padding: 45px 0;
    color: #fff;
}

section {
    padding: 45px 0;
}

.container {
    width: 620px;
    margin: 0 auto;
    /* border: 2px solid magenta; */
}

.section-two {
    background: #2e354f;
    color: #fff;
}



/* my first attempt with 20' time limit */ 
/* 

body {
    width: 620px;
    margin: 0 auto;
    font-family: lato;
    font-size: 18px;
    box-sizing: border-box;

}
h1 {
    padding-left: 30px;
}

h2 {
    color: #ef5839;
}


.section-1-parent, .section-3-parent  {
    background-color: #2e354f;
    padding: 30px;
    color: #fff;
}

.section-2-parent {
    background-color: #fff;
    
}

#btn-1 {
    background-color: orangered;
    padding: 10px;
    box-shadow: none;
}
#btn-2 {
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: none;
}

btn-1:hover {

}

btn-2:hover {

}

#link-para {
    color: orangered;
}








*/







